h2{text-align: center;
color: green; font-weight: bold;
font-style: font-style: oblique;}
p{color: seagreen;
font-weight: bold;
font font-style: oblique;}
h5{font-size: 150%}
body{background-color: turquoise;}